.idea

dotnet-source/ks.fiks.io.arkivsystem.sample/privkey.pem
dotnet-source/ks.fiks.io.arkivsystem.sample/appsettings.development.json
dotnet-source/ks.fiks.io.arkivsystem.sample/etc/fiks/fiks-io/*
dotnet-source/ks.fiks.io.arkivsystem.sample/etc/fiks/ks-certs/*
dotnet-source/local/fiks-io-authorization-service-mock
dotnet-source/local/rabbitmq
dotnet-source/ks.fiks.io.arkivsystem.sample/appsettings.local.json
dotnet-source/ks.fiks.io.arkivsystem.sample/etc/fiks/fiks-io/development/*

dotnet-source/ks.fiks.io.fagsystem.arkiv.sample/privkey.pem
dotnet-source/ks.fiks.io.fagsystem.arkiv.sample/appsettings.development.json
dotnet-source/ks.fiks.io.fagsystem.arkiv.sample/etc/fiks/fiks-io/*
dotnet-source/ks.fiks.io.fagsystem.arkiv.sample/etc/fiks/ks-certs/*